__pycache__/
*.pyc
*.pyo
*.pyd
*.tar.gz
data/traces/raw
data/energy_mix
data/dump
experiments_2/
experiments/in
experiments/out
experiments/experiments.zip
.DS_Store
**/.DS_Store
presentation
presentation nice
plots
src/cclf.py