__pycache__/
*.pyc
*.pyo
*.pyd
*.tar.gz
data/traces/raw
experiments_2/
experiments/in
experiments/out/aws/0.1
experiments/out/aws/0.2
experiments/out/aws/0.05
experiments/out/aws/0.15
experiments/out/azure/0.1
experiments/out/azure/0.2
experiments/out/azure/0.05
experiments/out/azure/0.15
experiments/experiments.zip
.DS_Store
**/.DS_Store
presentation
presentation nice
plots
src/cclf.py
data/providers/excluded.csv
data/energy_mix/forecast
data/energy_mix/raw
data/energy_mix/historical
submission2/